.form-inline .form-control {
    width: 60% !important;
}

#search-box {
    background-color: #03a9f41f;
    padding: 50px;
}

.banner-home {
    margin-bottom: 0px !important;
}

.card-deck {
    padding: 25px 0;
}

section#categories {
    padding: 50px 0;
}
