<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Hello, world!</title>
  </head>
  <body>
  <nav>
  <li><a href="/auth/logout">Logout</a></li>
  <li><a href="/auth/login">Login</a></li>
  </nav>
  </body>
  </html>