.form-inline .form-control {
    width: 60% !important;
}

#search-box {
    background-color: #03a9f41f;
    padding: 50px;
}

.banner-home {
    margin-bottom: 0px !important;
}

.send-button{
    background: #54C7C3;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    .g-button{
    color: #fff !important;
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
    }
    .my-input{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
    }
   
    .login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    }
    .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
    .nav-username{
        text-transform:capitalize;
    }